
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


// header

header{
    width: 100%;
    height: 80px;
    position: fixed;
    border-top: solid;
    border-color: #335c67;
    background-color: white;

}


.divheader1{
    width: 85%;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.divlogo{
    width: 120px;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-left: 20px;

    .divnav1{
        display: flex;

        a{
            text-decoration: none;
            margin: 25px 15px;
            color: black;
            padding-bottom: 3px;


            &:hover{
                border-bottom: solid;
                border-width: 2px;
                border-color: #335c67;
            }
        }
    }

    .divnav2{
        display: flex;

        a{
            text-decoration: none;
            margin: 25px 15px;
            color: black;
            padding-bottom: 3px;

            &:hover{
                border-bottom: solid;
                border-width: 2px;
                border-color: #335c67;
            }
        }
    }
}

//imagen

.bkimg{
    background-image: url(../img/backimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;


    .divimg{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25vh;
        
        h1{
            margin: 0;
            font-weight: bold;
            font-size: 1.9rem;
            text-align: center;
            
        }

        p{
            margin: 40px 0;
        }

        button{
            width: 180px;
            padding: 12px 25px;
            background-color: #335c67;
            color: white;
            border: #335c67;
            border-radius: 5px;
            font-size: 1.1rem;
            
            &:hover{
                font-size: 1.15rem;
                width: 185px;
                transition: 0.1s;
            }
        }
    }
}



//section2


.sec2{
    width: 100%;
    height: 60vh;
    margin-top: 50px;
    margin-bottom: 50px;



    .divsec2{
        width: 70%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .divsec3_1{
            font-size: 1.5rem;
            
            h2{
                margin: 0;
            }

        }


        .divsec3_2{
            display: flex;
            flex-direction: row;
            justify-content: space-around;


            .card{
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                background-color: white;


                .parra{
                    font-weight: bolder;
                }


            }
        }
    }
}

//experts

.experts{
    width: 100%;
    background-color: #070b30;
    overflow: hidden;
}


.divexp{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 50px;

    .divexp2{
        text-align: center;

        .p1{
            font-size: 1.5rem;
            color: #888;
        }

        .p2{
            font-size: 2rem;
            font-weight: bold;
        }

        .p3{
            font-size: 1.5rem;
            color: #888;
        }
    }


    .expdes{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        overflow: hidden;

        .expdes1{
            

            img{
                width: 350px;
                border-radius: 10px;
            }
        }

        

        .expdes2{
            margin-left: 5%;
            width: 50%;



            .descrip{
               display: flex;
               align-items: baseline;

                

                h3{
                    font-size: 3rem;
                    margin: 0;
                    padding: 0;
                    text-transform: capitalize;
                    margin-right: 25px;
                }

                p{
                    margin: 0;
                    padding: 0;
                    font-size: 1.5rem;
                    color: #888;
                }
                
            }

            p{
                font-size: 1.5rem;
                line-height: 30px;
                color: #888;
                margin: 50px 0 65px 0;
            }

            a{
                color: rgb(221, 221, 221);
                text-decoration: none;
                text-transform: capitalize;
                font-size: 1.2rem;
                border-bottom: solid;
                border-width: 2px;
                padding-bottom: 10px;


                
                &:hover{
                    font-size: 1.4rem;
                   transition: 0.6s;
                }
            }

        }
    }


}